*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

$primary-color: #FFA62B;
$secondary-color: #3D424A;
$light-black: #363B42;
$bg-darken: #31363C;
$white-color: #fff;
$container-Lg: 85%;
$container-md: 97%;


