.sub_heading{
    color: $primary-color;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1rem;
    width: 300px;
    margin: 0 auto;
}
.high_Light_Part{
    color: $primary-color;
    font-weight: 600;
}